PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/database

EMAIL_USER=
EMAIL_PASS=
JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

EMAIL_RESUMO=email1@example.com,email2@example.com
